/* variables */
/* font-size */
:root {
    --font-size: 16px;
    --font-size: clamp(1rem, 0.5702rem + 1.8095vw, 3.375rem);
    --background-color: #181818;
    
    --tab-background-color: #2e2e2e;
    --tab-hover-color: #505057;
    --tab-selected-color: #4e4e4e;
    --tab-border-color: rgba(218, 218, 218, 0.502);
    --expand-guide-bar-color: rgba(218, 218, 218, 0.502);

    --content-background-color: #333333;

    --text-color: #f1f1f1;
    --primary-color: #73b4f0;
    --secondary-color: #f1dd6a;

    --select-box-border-color: #a4cbdd;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;

    font-size: var(--font-size);
    line-height: calc(1.9 * var(--font-size));

    overflow: hidden;
    width: 100svw;
    height: 100svh;

    scrollbar-gutter: stable;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: rgb(49,49,49);
}

::-webkit-scrollbar-thumb {
    background: rgb(106,106,106);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(152,152,152);
}

::-webkit-scrollbar-corner {
    background: rgb(49,49,49);
}

code {
    background-color: #424242;
    border-radius: calc(0.4 * var(--font-size));
    padding: calc(0.1 * var(--font-size)) calc(0.42 * var(--font-size));
    margin: 0 calc(0.1 * var(--font-size));
}

a {
    color: #9aafd6;
    text-decoration: none;
    display: inline-block;
    position: relative;
    overflow-wrap: anywhere;
}

a:hover {
    color: #c5d4e6;
}

img {
    max-width: 100%;
    object-fit: contain;
}

h1 {
    border-bottom: 3px solid rgb(95,95,95);
    padding-bottom: 1rem;

    font-size: calc(2.0 * var(--font-size));
    margin: calc(1.1 * var(--font-size)) calc(1.3 * var(--font-size));
}

h2 {
    border-bottom: 2px solid rgb(72,72,72);
    padding-bottom: 0.8rem;

    font-size: calc(1.55 * var(--font-size));
    margin: calc(1.1 * var(--font-size)) calc(1.3 * var(--font-size));
}

h3 {
    font-size: calc(1.24 * var(--font-size));
    margin: calc(1.1 * var(--font-size)) calc(1.3 * var(--font-size));
}

p {
    margin: calc(0.95 * var(--font-size)) calc(1.3 * var(--font-size));
}

label {
    font-size: var(--font-size);
    line-height: calc(1.8 * var(--font-size));
    margin: calc(1.1 * var(--font-size)) calc(1.3 * var(--font-size));
    margin-right: calc(0.4 * var(--font-size));
}

ul {
    padding-left: calc(1.8 * var(--font-size));
}

table {
    width: 100%;

    border: 1px solid rgb(72,72,72);
    border-radius: calc(0.4 * var(--font-size));
    border-spacing: 0;
    overflow: hidden;
}
th, td {
    text-align: left;
    padding: calc(0.5 * var(--font-size)) calc(0.8 * var(--font-size));
    border-bottom: 1px solid rgb(72,72,72);
}
th {
    /* distictive background, extra size 1.2 * font */
    background-color: rgb(52,52,52);
    color: rgb(205,205,205);
    font-size: calc(1.2 * var(--font-size));

}
tr:nth-child(even) {
    background-color: rgb(34,34,34);
}
tr:hover {
    background-color: rgb(72,72,72);
}

select {
    padding: calc(0.5 * var(--font-size)) calc(0.75 * var(--font-size));
    margin: calc(0.8 * var(--font-size)) 0;
    border: none;
    border-radius: calc(0.4 * var(--font-size));
    box-shadow: 0 0 0 1.1px var(--select-box-border-color);
    /* box-shadow: 0 0 0 max(calc(0.075 * var(--font-size)), 1.2px) var(--select-box-border-color); */
    background-color: rgb(52,52,52);
    color: var(--text-color);
    font-size: var(--font-size);
    line-height: calc(1.8 * var(--font-size));
    cursor: pointer;
}
select:focus {
    outline: none;
    box-shadow: 0 0 0 1.13px rgba(187, 156, 117, 0.953);
    /* box-shadow: 0 0 0 max(calc(0.1 * var(--font-size)), 1.25px) rgba(187, 156, 117, 0.953); */
}

button {
    padding: calc(0.5 * var(--font-size)) calc(1.5 * var(--font-size));
    margin: calc(0.8 * var(--font-size)) 0;
    border: none;
    border-radius: calc(1.1 * var(--font-size));
    background-color: #90b5d6;
    font-size: calc(1.2 * var(--font-size));
    line-height: calc(1.8 * var(--font-size));
    cursor: pointer;
    color: var(--background-color);

    /* centering self */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
button:hover {
    background-color: #6f9dcf;
}
button:active {
    background-color: #4b6a8c;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}


/* Custom number input spinner */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.number-spinner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    column-gap: calc(0.4 * var(--font-size));
    width: auto;
    width: fit-content;
}
.number-spinner label {
    line-height: calc(1.8 * var(--font-size));
    margin: 0 calc(1.3 * var(--font-size));
    margin-right: calc(0.4 * var(--font-size));
}
.number-spinner input {
    padding: calc(0.5 * var(--font-size)) calc(0.75 * var(--font-size));
    margin: 0;
    box-shadow: 0 0 0 1.1px var(--select-box-border-color);
    /* box-shadow: 0 0 0 max(calc(0.075 * var(--font-size)), 1.2px) var(--select-box-border-color); */
    border: none;
    border-radius: 0;
    background-color: rgb(52,52,52);
    color: var(--text-color);
    font-size: var(--font-size);
    line-height: calc(1.15 * var(--font-size));
    cursor: text;
    width: calc(6 * var(--font-size));
    z-index: 1;
}
.number-spinner input:focus {
    background-color: rgb(58, 58, 58);
    border: none;
    outline: none;
    box-shadow: 0 0 0 1.13px rgba(187, 156, 117, 0.953) !important;
    /* box-shadow: inset 0 0 0 max(calc(0.1 * var(--font-size)), 1.25px) rgba(187, 156, 117, 0.953) !important; */
}
.number-spinner .spinner {
    display: flex;
    flex-direction: row;
    column-gap: 0;
    border-radius: calc(0.4 * var(--font-size));
    box-shadow: 0 0 0 1.1px var(--select-box-border-color);
    /* box-shadow: 0 0 0 max(calc(0.075 * var(--font-size)), 1.2px) var(--select-box-border-color); */
    overflow: hidden;
    margin: calc(0.8 * var(--font-size)) 0;
}
.number-spinner .spinner-button {
    padding: calc(0.4 * var(--font-size));
    margin: 0;
    border: none;
    border-radius: 0;
    background-color: rgb(75, 79, 83);
    color: var(--text-color);
    font-size: calc(0.55 * var(--font-size));
    text-align: center;
    line-height: calc(0.34 * var(--font-size));
    cursor: pointer;
    width: calc(1.8 * var(--font-size));

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}
.number-spinner .spinner-button:hover {
    background-color: rgb(99, 96, 96);
}
.number-spinner .spinner-button:active {
    background-color: rgb(60, 67, 73);
}
.number-spinner .spinner-button:focus-visible {
    outline: none;
    background-color: rgb(129, 122, 122);
}



/* red border highlight */
.red-border-highlight {
    /* #f38b8bf3 inner border so that the layout won't shift */
    box-shadow: 0 0 0 2px rgba(243, 139, 139, 0.953);
    /* box-shadow: 0 0 0 max(calc(0.12 * var(--font-size)), 2px) rgba(243, 139, 139, 0.953); */
}
/* yellow border highlight */
.yellow-border-highlight {
    /* #f3e68b inner border so that the layout won't shift */
    box-shadow: 0 0 0 2px rgba(243, 230, 139, 0.953);
    /* box-shadow: 0 0 0 max(calc(0.12 * var(--font-size)), 2px) rgba(243, 230, 139, 0.953); */
}


/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}



/* Stop button */
.stop-button {
    background-color: #e68b8b;
}
.stop-button:hover {
    background-color: #db6f6f;
}
.stop-button:active {
    background-color: #8c4b4b;
}


/* Visible toggle */
.visible-toggle {
    /* gradually fade in/out and then display none */
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    display: none;
}

/* Disabled toggle */
.disabled-toggle {
    /* no pointer event and lower opacity */
    opacity: 0.5;
    filter: blur(1px);
    pointer-events: none !important;

    user-select: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    -o-user-select: none !important;
}
.disabled-toggle * {
    pointer-events: none !important;

    user-select: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    -o-user-select: none !important;
}



/* CUSTOM CLASSES */
.full-width {
    width: 100%;
}

.center {
    text-align: center;
}

.giant-text {
    font-size: calc(3.5 * var(--font-size));
    line-height: calc(1.0 * 3.5 * var(--font-size));
}

.huge-text {
    font-size: calc(2.5 * var(--font-size));
    line-height: calc(1.0 * 2.5 * var(--font-size));
}

.xlarge-text {
    font-size: calc(1.8 * var(--font-size));
    line-height: calc(1.12 * 1.8 * var(--font-size));
}

.large-text {
    font-size: calc(1.52 * var(--font-size));
    line-height: calc(1.2 * 1.5 * var(--font-size));
}

.medium-text {
    font-size: calc(1.2 * var(--font-size));
    line-height: calc(1.4 * 1.2 * var(--font-size));
}

.regular-text {
    font-size: var(--font-size);
    line-height: calc(1.8 * var(--font-size));
}

.small-text {
    font-size: calc(0.8 * var(--font-size));
    line-height: calc(1.9 * 0.8 * var(--font-size));
}

.xsmall-text {
    font-size: calc(0.6 * var(--font-size));
    line-height: calc(1.9 * 0.6 * var(--font-size));
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.low-margin {
    margin: 0.5rem;
}

.low-margin-top {
    margin-top: 0.5rem;
}

.low-margin-bottom {
    margin-bottom: 0.5rem;
}

.high-margin-top {
    margin-top: 1.5rem;
}

.margin-left-1 {
    margin-left: calc(1.1 * var(--font-size));
}
.margin-left-2 {
    margin-left: calc(2.2 * var(--font-size));
}
.margin-left-3 {
    margin-left: calc(3.3 * var(--font-size));
}

.no-padding {
    padding: 0;
}
.no-border {
    border: none;
}
.no-background {
    background-color: transparent;
}
.no-border-radius {
    border-radius: 0;
}

.dim {
    opacity: 0.7;
}

.list-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    list-style-type: none;
    padding: 0;
}

.gap-row-1 {
    row-gap: calc(1.1 * var(--font-size));
}
.gap-row-2 {
    row-gap: calc(2.2 * var(--font-size));
}
.gap-row-3 {
    row-gap: calc(3.3 * var(--font-size));
}
.gap-row-4 {
    row-gap: calc(4.4 * var(--font-size));
}
.gap-row-5 {
    row-gap: calc(5.5 * var(--font-size));
}

.gap-col-1 {
    column-gap: calc(1.1 * var(--font-size));
}
.gap-col-2 {
    column-gap: calc(2.2 * var(--font-size));
}
.gap-col-3 {
    column-gap: calc(3.3 * var(--font-size));
}
.gap-col-4 {
    column-gap: calc(4.4 * var(--font-size));
}
.gap-col-5 {
    column-gap: calc(5.5 * var(--font-size));
}

.space-evenly {
    justify-content: space-evenly;
}

.space-center {
    justify-content: center;
}

.p-indent-0 {
    text-indent: 0;
}
.p-indent-1 {
    text-indent: calc(1.1 * var(--font-size));
}
.p-indent-2 {
    text-indent: calc(2.2 * var(--font-size));
}
.p-indent-3 {
    text-indent: calc(3.3 * var(--font-size));
}

.force-align-left {
    text-align: left !important;
}
.force-align-center {
    text-align: center !important;
}
.force-align-right {
    text-align: right !important;
}

/* Mod of table: Single header and Single Row --> Figure + Caption */
/* Use [.figure] before table in .md file */
.figure {
    width: 100%;
    height: 100%;
    min-height: 1px;
    border: 1px solid rgb(72, 72, 72);
    border-radius: calc(0.4 * var(--font-size));
    border-spacing: 0;
    overflow: hidden;
}

.figure thead tr,
.figure tbody tr {
    padding: 0;
    margin: 0;
    height: 1px;
}

.figure thead tr th {
    height: 100%;
    padding: 0;
}

.figure tbody tr td {
    margin: 0 calc(0.1 * var(--font-size));
}

.figure thead tr th img {
    height: 100%;
    display: block;
    /* center */
    margin-left: auto;
    margin-right: auto;
}

.spacer-vertical-thinner {
    height: calc(0.6 * var(--font-size));
}
.spacer-vertical-thin {
    height: calc(0.8 * var(--font-size));
}
.spacer-vertical {
    height: calc(1.1 * var(--font-size));
}
.spacer-vertical-thick {
    height: calc(1.5 * var(--font-size));
}
.spacer-vertical-thicker {
    height: calc(2.1 * var(--font-size));
}




/* PAGE SPECIFIC CSS */
#app-page {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


#camera-container {
    display: block;
    position: relative;
    left: 0;
    top: max(calc(2.2 * var(--font-size)), 60px);
    width: 100svw;
    /* height to make it 4:3 aspect ratio as default */
    height: calc(4/3 * 100svw);
    background-color: var(--content-background-color);

    /* background-image: url("./catpic.jpg"); */
    background-color: #303030; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

#camera-component {
    width: 100%;
    height: 100%;
}



#controller-overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: 10;
}


#nav-bar {
    flex-shrink: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: calc(0.5 * var(--font-size)) 0;
    background-color: var(--tab-background-color);
    box-shadow: 0 min(3px, calc(0.1*var(--font-size))) 0 0 var(--tab-border-color);
    border-radius: 0 0 calc(1.25 * var(--font-size)) calc(1.25 * var(--font-size));
    
    height: calc(2.25 * var(--font-size));
    min-height: 60px;
    width: 100%;
}

#nav-bar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 90%;

}

#camera-settings-button {
    width: auto;
    height: 80%;
    margin: 0 calc(0.5 * var(--font-size));
    border: none;
    border-radius: 0;
    background-image: url("./assets/camera-icon.png");
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(1);
    opacity: 0.7;
}
#camera-settings-button:hover {
    opacity: 1;
}

#angry-toggle-button {
    width: auto;
    height: 80%;
    margin: 0 calc(0.5 * var(--font-size));
    border: none;
    border-radius: 0;
    background-image: url("./assets/ok.png");
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
}
#angry-toggle-button:hover {
    opacity: 1;
}


#fullscreen-toggle-button {
    width: auto;
    height: 70%;
    margin: 0 calc(0.5 * var(--font-size));
    border: none;
    border-radius: 0;
    background-image: url("./assets/fullscreen-icon.png");
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(1);
    opacity: 0.7;
}
#fullscreen-toggle-button:hover {
    opacity: 1;
}


#the-void {
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

#info-panel-container {
    flex-shrink: 0;
    
    display: block;
    position: relative;
    background-color: var(--tab-background-color);
    box-shadow: 0 max(-3px, calc(-0.1*var(--font-size))) 0 0 var(--tab-border-color);
    border-radius: calc(1.25 * var(--font-size)) calc(1.25 * var(--font-size)) 0 0;

    /* set min-height so that it goes from bottom to overlap with the #camera-container a bit, similar to nav-bar */
    /* min-height: max(calc(100svh - calc(4/3 * 100svw) - calc(0.5 * 2.5 * var(--font-size))), max(15svh, 160px));
    max-height: 75svh; */

    width: 100%;
    height: 0%;
    overflow: hidden;
}

.info-panel-transition {
    transition: width 0.3s ease-out, height 0.3s ease-out;
}

#expand-selection-zone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(2.5 * 0.55 * var(--font-size));
    cursor: pointer;
    z-index: 20;
}


#info-panel {
    position: relative;
    margin-top: calc(0.55 * var(--font-size));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

#info-panel:before {
    /* partial top border, centered, 40% width */
    pointer-events: none;
    content: "";
    position: absolute;
    top: 0;
    left: 30%;
    width: 40%;
    height: 100%;
    border-top: min(3px, calc(0.1618*var(--font-size))) solid var(--expand-guide-bar-color);
}

#info-panel-header-container {
    flex-shrink: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - calc(2* 1.5 * var(--font-size)));
    height: fit-content;
    margin: calc(1.5 * var(--font-size)) calc(1.5 * var(--font-size));
    margin-bottom: calc(0.7 * var(--font-size));
}

#restart-button {
    width: max(14px,calc(2 * var(--font-size)));
    height: max(14px,calc(2 * var(--font-size)));
    padding: 0;
    margin: 0;
    border: none;
    border-radius: calc(1 * var(--font-size));
    background-color: transparent;
    background-image: url("./assets/restart-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(1) blur(0.3px);
    opacity: 0.7;
    scale: 1;
    transition: ease-in-out 100ms;
}
#restart-button:hover {
    opacity: 1;
}
#restart-button:active {
    opacity: 1;
    scale: 1.05;
}

#content-hint-for-horizontal-layout {
    /* flex-shrink: 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    width: fit-content;
    height: 100%;
}
#content-hint-for-horizontal-layout span {
    font-family: monospace;
    text-align: center;
    /* flip to vertical text */
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    height: 100%;

    /* text-overflow: clip; */
    /* do not wrap text */
    white-space: nowrap;
    overflow: hidden;
}

#info-panel-body-container {
    flex-shrink: 0;
    display: block;
    width: 100%;
    /* height: 100% - header heigh - content hint height , auto overflow, though, so it's fine*/
    height: calc(100% - calc(1.9* 1.5 * var(--font-size)) - calc(1.9* 1.5 * var(--font-size)));

    /* scrollable */
    overflow-y: auto;
}






#camera-selection-overlay {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px);
    z-index: 1000;
}



#radio-list-container {
    display: block;
    position: relative;
    width: min(80%, calc(28 * var(--font-size)));
    height: max-content;
    max-height: 80%;
    padding: calc(1.5 * var(--font-size));
    background-color: rgb(75, 75, 83);
    border-radius: calc(1.6 * var(--font-size));
    
    overflow: hidden;
    overflow-y: auto;

    z-index: 1001;
}
/* set the scroll bar to inside the div */
#radio-list-container::-webkit-scrollbar {
    width: 8px;
}
#radio-list-container::-webkit-scrollbar-track {
    background: transparent;
}
#radio-list-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    overflow: hidden;
}

.radio-component {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: calc(0.5 * var(--font-size));
    width: fit-content;
    align-items: center;
    padding: calc(0.3 * var(--font-size)) calc(0.6 * var(--font-size));
    margin: calc(0.2 * var(--font-size)) calc(0.6 * var(--font-size));
    cursor: pointer;
    transition: background 250ms;
}

/* increase the size of the radio button and change its default color */
.radio-component input[type="radio"] {
    flex-shrink: 0;
    appearance: none;
    width: calc(1.2 * var(--font-size));
    height: calc(1.2 * var(--font-size));
    border-radius: 50%;
    background-color: rgba(103, 103, 114, 0.781);
    border: calc(0.1 * var(--font-size)) solid var(--text-color);
    cursor: pointer;
    transition: background 250ms;
}
/* checked */
.radio-component input[type="radio"]:checked {
    background-color: rgb(42, 74, 133);
}
/* hover */
.radio-component input[type="radio"]:hover {
    background-color: rgb(52, 82, 139);
}
/* hover and checked is similar to checked */
.radio-component input[type="radio"]:hover:checked {
    background-color: rgb(37, 65, 117);
}
/* uncheck */
.radio-component input[type="radio"]:not(:checked) {
    background-color: rgba(103, 103, 114, 0.781);
}




.book-cover-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    padding-top: calc(1 * var(--font-size));
    padding-bottom: calc(0.8 * var(--font-size));
}
img#book-cover {
    width: calc(15 * var(--font-size));
    max-width: 34vh;
    height: auto;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}


/* <div id="search-list-container">
    <a href="#" target="_blank" class="search-list-item">
        <img src="amazon-logo.png" alt="Amazon Logo" class="search-list-item-logo">
        <span class="search-list-item-text">Amazon</span>
    </a>
</div> */

/* img and span each are optional */
#search-list-container {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.search-list-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 54%;
    min-width: 250px;
    height: calc(3.2 * var(--font-size));
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(1.25 * var(--font-size));
    margin-bottom: calc(1.25 * var(--font-size));
    background-color: rgb(75, 75, 83);
    border-radius: calc(0.4 * var(--font-size));
    cursor: pointer;
    opacity: 0.88;
    transition: 50ms;
}

.search-list-item:hover {
    opacity: 1;
    scale: 1.009;
}

.search-list-item-logo {
    object-fit: contain;
    max-width: 75%;
    max-height: 60%;
}

.search-list-item-text {
    font-size: calc(1.3 * var(--font-size));
    line-height: calc(1.8 * 1.1 * var(--font-size));
    margin-left: calc(1 * var(--font-size));
    margin-right: calc(0.5 * var(--font-size));
    text-decoration: none;
    font-weight: bold;
    color: var(--text-color);

}





/******************************************************************************************************/
/******************************************************************************************************/
/*Loading screen*/   /*Credits to ihatetomatoes @ https://ihatetomatoes.net/create-custom-preloading-screen/*/
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    z-index: 10000;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loader-wrapper {
    position: relative;
    width: calc(5 * var(--font-size));
    height: calc(5 * var(--font-size));
    margin: min(2.5%, calc(2 * var(--font-size))) auto;
    z-index: 10001;
}

#loader {
    display: block;
    position: relative;
    left: calc(50% - 1.1 / 3.141592654 * var(--font-size));
    top: calc(50% - 1.1 / 3.141592654 * var(--font-size));
    height: calc(4.5 * var(--font-size));
    width: calc(4.5 * var(--font-size));
    margin: calc(-2.2 * var(--font-size)) 0 0 calc(-2.2 * var(--font-size));
    border: calc(0.26 * var(--font-size)) solid transparent;
    border-radius: 50%;
    border-top-color: #e99c92;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 10002;
}

    #loader:before {
        content: "";
        position: absolute;
        top: calc(0.17 * var(--font-size));
        left: calc(0.17 * var(--font-size));
        right: calc(0.17 * var(--font-size));
        bottom: calc(0.17 * var(--font-size));
        border-radius: 50%;
        border: calc(0.25 * var(--font-size)) solid transparent;
        border-top-color: #4dc48d;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: calc(0.58 * var(--font-size));
        left: calc(0.58 * var(--font-size));
        right: calc(0.58 * var(--font-size));
        bottom: calc(0.58 * var(--font-size));
        border-radius: 50%;
        border: calc(0.235 * var(--font-size)) solid transparent;
        border-top-color: #6186ff;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    /* Loaded */
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        /* -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%); */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
    #loading-overlay.loaded {
        /* display: none; */
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
    
    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }



/******************************************************************************************************/
/******************************************************************************************************/






/* Media queries to handle the different screen ratio since camera container must be 9/16, 3/4, 1:1 or the horizontal counter part */
@media (max-aspect-ratio: 8/16) {
    #camera-container {
        height: calc(16/9 * 100svw);
        width: 100svw;
    }

    #info-panel-container {
        min-height: max(calc(100svh - calc(16/9 * 100svw) - calc(0.5 * 2.5 * var(--font-size))), max(15svh, 160px));
        max-height: 84svh;
        max-width: 100%;
        min-width: 100%;
    }
}

@media (min-aspect-ratio: 8/16) and (max-aspect-ratio: 2.6/4) {
    #camera-container {
        height: calc(4/3 * 100svw);
        width: 100svw;
    }

    #info-panel-container {
        min-height: max(calc(100svh - calc(4/3 * 100svw) - calc(0.5 * 2.5 * var(--font-size))), max(15svh, 160px));
        max-height: 84svh;
        max-width: 100%;
        min-width: 100%;
    }
}

@media (min-aspect-ratio: 2.6/4) and (max-aspect-ratio: 1/1.3) {
    #camera-container {
        height: 100svw;
        width: 100svw;
    }

    #info-panel-container {
        min-height: max(calc(100svh - 100svw - calc(0.5 * 2.5 * var(--font-size))), max(15svh, 160px));
        max-height: 84svh;
        max-width: 100%;
        min-width: 100%;
    }
}


@media (min-aspect-ratio: 1/1.3) and (max-aspect-ratio: 4/3.95) {
    #camera-container {
        width: 100svw;
        height: calc(3/4 * 100svw);
    }
    
    #info-panel-container {
        min-height: max(calc(100svh - calc(3/4 * 100svw) - calc(0.5 * 2.5 * var(--font-size))), max(15svh, 160px));
        max-height: 84svh;
        max-width: 100%;
        min-width: 100%;
    }
}


/* When horizontal screen, flip the layout to horizontal */
@media (min-aspect-ratio: 4/3.95) and (max-aspect-ratio: 10/8) {
    #camera-container {
        width: calc(3/4 * 100svh);
        height: 100svh;
        top: 0;
        left: max(calc(2.2 * var(--font-size)), 60px);
    }

    #controller-overlay {
        flex-direction: row;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #nav-bar {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 calc(0.5 * var(--font-size));
        height: 100%;
        width: calc(2.25 * var(--font-size));
        min-width: 60px;

        box-shadow: min(3px, calc(0.1*var(--font-size))) 0 0 0 var(--tab-border-color);
        border-radius: 0 calc(1.25 * var(--font-size)) calc(1.25 * var(--font-size)) 0;
    }
    #nav-bar-wrapper {
        flex-direction: column-reverse;
        width: 90%;
        height: 95%;
    }

    #fullscreen-toggle-button {
        height: 5%;
        width: auto;
        margin: calc(0.5 * var(--font-size)) 0;
    }
    #angry-toggle-button {
        height: 6%;
        width: auto;
        margin: calc(0.5 * var(--font-size)) 0;
    }
    #camera-settings-button {
        height: 6%;
        width: auto;
        margin: calc(0.5 * var(--font-size)) 0;
    }


    #info-panel-container {
        height: 100%;
        width: 0%;
        min-width: max(calc(100svw - calc(3/4 * 100svh) - calc(0.5 * 2.5 * var(--font-size))), max(15svw, 160px));
        max-width: 84svw;
        max-height: 100%;
        min-height: 100%;

        /* box shadow to the left */
        box-shadow: min(-3px, calc(-0.1*var(--font-size))) 0 0 0 var(--tab-border-color);
        border-radius: calc(1.25 * var(--font-size)) 0 0 calc(1.25 * var(--font-size));
    }

    #expand-selection-zone {
        height: 100%;
        width: calc(2.5 * 0.55 * var(--font-size));
    }

    #info-panel {
        flex-direction: row;
        margin-top: 0;
        margin-left: calc(0.55 * var(--font-size));
        margin-right: calc(0.55 * var(--font-size));
        width: 100%;
    }

    #info-panel:before {
        /* partial left border, centered, 40% height */
        content: "";
        position: absolute;
        top: 35%;
        left: 0;
        width: 0%;
        height: 30%;
        border-left: min(3px, calc(0.1618*var(--font-size))) solid var(--expand-guide-bar-color);
    }

    #info-panel-header-container {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: calc(100% - calc(2* 1.5 * var(--font-size)));
        margin: calc(1.5 * var(--font-size)) calc(1.5 * var(--font-size));
        margin-right: calc(0.7 * var(--font-size));
    }

    #content-hint-for-horizontal-layout {
        display: block;
    }

    #info-panel-body-container {
        max-width: calc(100% - calc(2* 1.5 * var(--font-size)) - calc(2* 1.5 * var(--font-size)));
        height: 95%;
    
        text-wrap: nowrap;
    }
}

@media (min-aspect-ratio: 10/8) and (max-aspect-ratio: 12.5/8) {
    #camera-container {
        width: 100svh;
        height: 100svh;
        top: 0;
        left: max(calc(2.2 * var(--font-size)), 60px);
    }

    #controller-overlay {
        flex-direction: row;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #nav-bar {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 calc(0.5 * var(--font-size));
        height: 100%;
        width: calc(2.25 * var(--font-size));
        min-width: 60px;

        box-shadow: min(3px, calc(0.1*var(--font-size))) 0 0 0 var(--tab-border-color);
        border-radius: 0 calc(1.25 * var(--font-size)) calc(1.25 * var(--font-size)) 0;
    }
    #nav-bar-wrapper {
        flex-direction: column-reverse;
        width: 90%;
        height: 95%;
    }

    #fullscreen-toggle-button {
        height: 6%;
        margin: calc(0.5 * var(--font-size)) 0;
    }
    #angry-toggle-button {
        height: 7%;
        margin: calc(0.5 * var(--font-size)) 0;
    }
    #camera-settings-button {
        height: 7%;
        margin: calc(0.5 * var(--font-size)) 0;
    }


    #info-panel-container {
        height: 100%;
        width: 0%;
        min-width: max(calc(100svw - 100svh - calc(0.5 * 2.5 * var(--font-size))), max(15svw, 160px));
        max-width: 84svw;
        max-height: 100%;
        min-height: 100%;

        /* box shadow to the left */
        box-shadow: min(-3px, calc(-0.1*var(--font-size))) 0 0 0 var(--tab-border-color);
        border-radius: calc(1.25 * var(--font-size)) 0 0 calc(1.25 * var(--font-size));
    }

    #expand-selection-zone {
        height: 100%;
        width: calc(2.5 * 0.55 * var(--font-size));
    }

    #info-panel {
        flex-direction: row;
        margin-top: 0;
        margin-left: calc(0.55 * var(--font-size));
        margin-right: calc(0.55 * var(--font-size));
        width: 100%;
    }

    #info-panel:before {
        /* partial left border, centered, 40% height */
        content: "";
        position: absolute;
        top: 35%;
        left: 0;
        width: 0%;
        height: 30%;
        border-left: min(3px, calc(0.1618*var(--font-size))) solid var(--expand-guide-bar-color);
    }

    #info-panel-header-container {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: calc(100% - calc(2* 1.5 * var(--font-size)));
        margin: calc(1.5 * var(--font-size)) calc(1.5 * var(--font-size));
        margin-right: calc(0.7 * var(--font-size));
    }
    
    #content-hint-for-horizontal-layout {
        display: block;
    }

    #info-panel-body-container {
        max-width: calc(100% - calc(2* 1.5 * var(--font-size)) - calc(2* 1.5 * var(--font-size)));
        height: 95%;
    
        text-wrap: nowrap;
    }
}

@media (min-aspect-ratio: 12.5/8) {
    #camera-container {
        height: 100svh;
        width: calc(4/3 * 100svh);
        top: 0;
        left: max(calc(2.2 * var(--font-size)), 60px);
    }

    #controller-overlay {
        flex-direction: row;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #nav-bar {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 calc(0.5 * var(--font-size));
        height: 100%;
        width: calc(2.25 * var(--font-size));
        min-width: 60px;

        box-shadow: min(3px, calc(0.1*var(--font-size))) 0 0 0 var(--tab-border-color);
        border-radius: 0 calc(1.25 * var(--font-size)) calc(1.25 * var(--font-size)) 0;
    }
    #nav-bar-wrapper {
        flex-direction: column-reverse;
        width: 90%;
        height: 95%;
    }

    #fullscreen-toggle-button {
        height: 7%;
        margin: calc(0.5 * var(--font-size)) 0;
    }
    #angry-toggle-button {
        height: 8%;
        margin: calc(0.5 * var(--font-size)) 0;
    }
    #camera-settings-button {
        height: 8%;
        margin: calc(0.5 * var(--font-size)) 0;
    }


    #info-panel-container {
        height: 100%;
        width: 0%;
        min-width: max(calc(100svw - calc(4/3 * 100svh) - calc(0.5 * 2.5 * var(--font-size))), max(15svw, 160px));
        max-width: 84svw;
        max-height: 100%;
        min-height: 100%;

        /* box shadow to the left */
        box-shadow: min(-3px, calc(-0.1*var(--font-size))) 0 0 0 var(--tab-border-color);
        border-radius: calc(1.25 * var(--font-size)) 0 0 calc(1.25 * var(--font-size));
    }

    #expand-selection-zone {
        height: 100%;
        width: calc(2.5 * 0.55 * var(--font-size));
    }
    
    #info-panel {
        flex-direction: row;
        margin-top: 0;
        margin-left: calc(0.55 * var(--font-size));
        margin-right: calc(0.55 * var(--font-size));
        width: 100%;
    }

    #info-panel:before {
        /* partial left border, centered, 40% height */
        content: "";
        position: absolute;
        top: 35%;
        left: 0;
        width: 0%;
        height: 30%;
        border-left: min(3px, calc(0.1618*var(--font-size))) solid var(--expand-guide-bar-color);
    }

    #info-panel-header-container {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: calc(100% - calc(2* 1.5 * var(--font-size)));
        margin: calc(1.5 * var(--font-size)) calc(1.5 * var(--font-size));
        margin-right: calc(0.7 * var(--font-size));
    }
    
    #content-hint-for-horizontal-layout {
        display: block;
    }

    #info-panel-body-container {
        max-width: calc(100% - calc(2* 1.5 * var(--font-size)) - calc(2* 1.5 * var(--font-size)));
        height: 95%;
    
        text-wrap: nowrap;
    }
}